#gitesection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F0F8FF;
    flex-wrap: wrap;
    border: 5px double white;
}

#gitesection h2 {
    font-size: 1.8em;
}

#gites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gite {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 320px;
    background-color: white;
    margin: 20px;
    align-items: center;
    border-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 3px solid white;
    overflow: hidden;
    box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.22);
}

.gite img {
    height: 250px;
    width: 320px;
    object-fit: cover;
}

.gite h6, h3 {
    padding: 0;
    margin: 0;
}

.gite h3 {
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 15px;
}

.Button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    margin-top: 15px        ;
}

.Button:hover{
    color: #fff;
    background-color: #616467;
}

@media screen and (max-width: 1050px) {
    .giteselector {
        height: fit-content;
    }

    .gitelist {
        background-color:transparent;
        margin-left: 25px;
        text-transform: uppercase;
        border: none;
    }

    .gitelist a {
        margin-top: 5px;
        margin-bottom: -5px;
    }
}