@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body { 
	max-width: 1150px; 
	margin: 0 auto !important; 
	float: none !important; 
}

header {
    background-color: #F0F8FF;
    width: 100%;
    display: flex;
    height: 120px;
    position: relative;
    align-items: center;
    box-sizing: border-box;
}

header img {
    height: 100px;
    padding-left: 20px;
}

#languageSelect {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
}

#languageSelect img {
    height: 20px;
    width: auto;
    margin: 0;
    padding: 0;
}

#languageSelect a {
    padding: 3px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeen {
    background-color: #BEEAEB;
    opacity: 70%;
}

#languageSelect a:hover {
    background-color: #BEEAEB;
    opacity: 70%;
}

ul {
    max-width: 680px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-self: flex-end;
    position: absolute;
    right: 20px;
    z-index: 20;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 5px;

}

li {
    list-style-type: none;
    width: fit-content;
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

ul a:hover {
    background-color: #BEEAEB;
}

ul a:active {
    color: white;
}

.giteselector {
    display: flex;
    flex-direction: column;
    height: 25px;
    overflow: hidden;
    position: relative;
    top: -5px;
}

.giteselector:hover {
    overflow: visible;
}

.gitelist {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #BEEAEB;
}

.gitelist a {
    padding-top: 8px;
    padding-bottom: 8px;
}

#coverimage {
    overflow: hidden;
    background-image: url(./images/cover2.jpg);
    height: 300px;
    width: 100%;
    background-position: center;
    opacity: 90%;
    border-bottom: 5px solid #BEEAEB;
    border-top: 5px solid #BEEAEB;
    z-index: 10;
}

#footer {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BEEAEB;
}

#footer i {
    color: #4F4F4F;
    font-size: 2em;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    
}

#footer i:hover {
    color: black;
    box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.22);
}

@media screen and (max-width: 1050px) {
    .navbar {
        display: none;
        width: 100%;
        max-width: none;
        padding-left: 15%;
    }

    header button {
        position: absolute;
        right: 25px;
        z-index: 70;
    }
    
    .visible {
        display: flex;
        flex-direction: column;
        background-color: #F0F8FF;
        background-color: rgba(240, 248, 255, .95);
        z-index: 50;
        position: fixed;
        top: -16px;
        right: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        overflow: hidden;
        border: 3px solid #BEEAEB;
        overscroll-behavior: contain;
    }

    li {
        padding: 5px 0px;
    }

    header img {
        max-height: 80px;
    }

    #languageSelect {
        flex-direction: column;
    }

}

@media screen and (min-width: 1050px) {
    header button {
        display: none !important;
    }
}